%object{ width: '100%', height: 480 }
  %param{ name: :movie, value: "http://www.youtube.com/v/#{setlist.first_song}?version=3" }
  %param{ name: 'allowFullScreen', value: true }
  %param{ name: 'allowscriptaccess', value: :always }
  %param{ name: 'playlist', value: setlist.playlist }
  %embed{ src: "http://www.youtube.com/v/#{setlist.first_song}?version=3&playlist=#{setlist.playlist}",
          type: 'application/x-shockwave-flash', width: '100%',
          height: 480, 'allowscriptaccess' => :always,
          'allowfullscreen' => true }
