.modal.fade{ id: "modal_#{song_modal.id}", tabindex: -1, role: :dialog, 'aria-labelledby' => 'myModalLabel', 'aria-hidden' => true }
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{ type: :button, 'data-dismiss' => 'modal', 'aria-hidden' => true } 
          &times;
        %h4.modal-title= song_modal.song_text
      .modal-body
        = render partial: 'songs/video', locals: { song: song_modal }
