/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
$body-bg: #3F586C;


@import "bootstrap";

@media (min-width: $screen-md-min) {
  .modal-lg { width: $modal-lg; }
}

body {
  .main {
    height: 100%;
    margin-top: 45px;
  }
  .devise {
    background-color: white;
    margin: 20px auto;
    border-radius: 2px;
    padding: 10px;
    box-shadow: 0 0 10px black;
  }
}
